@import "@fivethirtyeight/interactive-styles";

// App-level styles go here

body {
    font-family: Helvetica;
    background-color: #ffe100;
}

#work {
    margin-left: 15px;
}

.social-btns {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

a.social {
    width: 35px;
    margin: 3px 6px 0px 0px;
    border-bottom: none;

    svg {
        width: 30px;
        height: 30px;

        &:hover path {
            fill: #fa4a5a;
        }
    }

    &:hover {
        border-bottom: none;
    }

}

.projects {

    flex-wrap: wrap;
    display: flex;
    width: 100%;


    a {
        display: block;
    }

    .project {

        margin: 25px;

        &.letter {
            font-size: 50px;
            font-weight: bold;
            text-transform: uppercase;

            &.left {
                -ms-transform: rotate(-21deg); /* IE 9 */
                -webkit-transform: rotate(-21deg); /* Chrome, Safari, Opera */
                transform: rotate(-21deg);
            }

            &.right {
                -ms-transform: rotate(7deg); /* IE 9 */
                -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
                transform: rotate(7deg);
            }
        }

        &.cir {
            width: 100px;
            height: 100px;
            border-radius: 50%;

            &.red {
                border: 5px solid #fa4a5a;
            }

            &.yellow {
                border: 5px solid #44ab43;
            }

            &.blue {
                border: 5px solid #0068F8;
            }

            &:hover {
                border: 5px solid #000;
            }

        }

        &.tr {
            width: 232px; 
            height: 180px; 
            overflow: hidden;
            transform: rotate(-14deg);

            &.red {
                border-bottom: 5px solid #fa4a5a;
            }

            &.yellow {
                border-bottom: 5px solid #44ab43;
            }

            &.blue {
                border-bottom: 5px solid #0068F8;
            }

            &:hover {
                border-bottom: 5px solid #000;
            }

            .one {
                position: relative; 
                overflow: hidden; 
                transform: rotate(45deg) skew(10deg,10deg); 
                width: 200px;
                height: 200px;
                margin: 83px 0 0 14px;

                &.red {
                    border-left: 5px solid #fa4a5a;
                    border-top: 5px solid #fa4a5a;
                }

                &.yellow {
                    border-left: 5px solid #44ab43;
                    border-top: 5px solid #44ab43;
                }

                &.blue {
                    border-left: 5px solid #0068F8;
                    border-top: 5px solid #0068F8;
                }

                &:hover {
                    border-left: 5px solid #000;
                    border-top: 5px solid #000;
                }

            }

            .two {
                position: absolute;
                width: 200%;
                height: 200%;
                top: -50%;
                left: -50%;
                z-index: -1;
                background-size: 100%;
                background-position: center top;
                transform: skew(-10deg,-10deg) rotate(-90deg);

            }
        }

        &.sq {
            width: 150px;
            height: 150px;
            -ms-transform: rotate(7deg); /* IE 9 */
            -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
            transform: rotate(7deg);

        
            &.red {
                border: 5px solid #fa4a5a;
            }

            &.yellow {
                border: 5px solid #44ab43;
            }

            &.blue {
                border: 5px solid #0068F8;
            }

            &:hover {
                border: 5px solid #000;
            }

        }
    }
}

.btm {
    margin: 15px;
    padding-top: 15px;
    border-top: 2px solid #222;
    letter-spacing: 1px;
    line-height: 1.3;
}
