#ad

header(class="vertical-#{pageconfig.wordpresssection}")
  .header-wrapper
    a.logo(href="http://fivethirtyeight.com")
      img(width="163", height="20", alt="FiveThirtyEight", src="https://projects.fivethirtyeight.com/shared/logo-masthead-narrow.svg")
    nav
    .social-links
      a#twitter-sharer.social.share-twitter(href='#', target='_blank')
        .icon.icon-twitter
      a#facebook-sharer.social.share-facebook(href='#', target='_blank')
        .icon.icon-facebook
